<section class="container contenedor ">
  <section class=" section-home row  ">

    <div class="head-section">
        <h2 class="title">Serie histórica de consumo</h2>
        <p class="text">Ingresa los datos de los últimos 12 meses (del más antiguo al más reciente)</p>
    </div>

    <div class="linea"></div>

    {{#if error}}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {{/if}}

    <form action="/calcular" method="POST">

    <table class="  col-md-6 col-lg-12">
      <thead>
        <tr>
          <th></th>
          <th>Fecha</th>
          <th>Consumo (kWh)</th>
        </tr>
      </thead>

      <tbody>
    <tr>
      <td class="td-numero">1</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha1" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo1" required></td>
    </tr>

    <tr>
      <td class="td-numero">2</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha2" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo2" required></td>
    </tr>

    <tr>
      <td class="td-numero">3</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha3" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo3" required></td>
    </tr>

    <tr>
      <td class="td-numero">4</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha4" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo4" required></td>
    </tr>

    <tr>
      <td class="td-numero">5</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha5" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo5" required></td>
    </tr>

    <tr>
      <td class="td-numero">6</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha6" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo6" required></td>
    </tr>

    <tr>
      <td class="td-numero">7</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha7" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo7" required></td>
    </tr>

    <tr>
      <td class="td-numero">8</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha8" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo8" required></td>
    </tr>

    <tr>
      <td class="td-numero">9</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha9" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo9" required></td>
    </tr>

    <tr>
      <td class="td-numero">10</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha10" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo10" required></td>
    </tr>

    <tr>
      <td class="td-numero">11</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha11" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo11" required></td>
    </tr>

    <tr>
      <td class="td-numero">12</td>
      <td class="td-class"><input type="date" class="form-control input-data" name="fechas" id="fecha12" required></td>
      <td class="td-class"><input type="number" step="0.01" placeholder="Ej: 142.50" class="form-control input-consumo" name="consumos" id="consumo12" required></td>
    </tr>      </tbody>
    </table>

    <div class="linea2"></div>

    <label for="modo" class="text-modo">Modo de predicción</label>
    <select class="form-select" name="modo" id="modo" aria-label="Default select example">
      <option value="SMA" selected>Promedio Móvil Simple (SMA) </option>
      <option value="REGRESION">Regresión Lineal </option>
      <option value="VARIACION">Variación Porcentual</option>
      <option value="TENDENCIA">Detección de Tendencia</option>
    </select>
    <button type="submit" class="btn btn-primary boton">Calcular predicción</button>

    </form>

    {{#if resultado}}
    <div class="linea"></div>

    <div class="resultado-box">
        <h2 class="title">Resultado</h2>

        {{#if (eq modoSeleccionado "SMA")}}
        
  <div class="grid text-center grid-container" style="--bs-columns: 3;">
  <div class="g-col-4 casilla"><p class="casilla-text">Promedio (últimos 3 meses):</p>
  <p class="casilla-valor"> {{resultado.promedio}} kWh</p>
  </div>
  <div class="g-col-4 casilla"> <p class="casilla-text">Consumo estimado próximo mes: </p>
  
  <p class="casilla-valor">{{resultado.consumoEstimado}} kWh</p>
  </div>
  <div class="g-col-4 "> <p>Tendencia: {{resultado.tendencia}}</p></div>
</div>


        {{/if}}

        {{#if (eq modoSeleccionado "REGRESION")}}
        <p>Consumo estimado para el mes 13: {{resultado.prediccion}} kWh</p>
        <p>Pendiente (m): {{resultado.pendiente}}</p>
        <p>Tendencia: {{resultado.tendencia}}</p>
        {{/if}}

        {{#if (eq modoSeleccionado "VARIACION")}}
        <ul>
        {{#each resultado.variaciones}}
            <li>Mes {{this.mes}} → {{this.valor}}</li>
        {{/each}}
        </ul>
        <p>Promedio de variación: {{resultado.promedioVariacion}}%</p>
        <p>Consumo general: {{resultado.tendencia}}</p>
        {{/if}}

        {{#if (eq modoSeleccionado "TENDENCIA")}}
        <p>Meses que aumentaron: {{resultado.sube}}</p>
        <p>Meses que disminuyeron: {{resultado.baja}}</p>
        <p>Meses estables: {{resultado.estable}}</p>
        <p>Tendencia general: {{resultado.tendencia}}</p>
        {{/if}}
    </div>
    {{/if}}

</section>
</section>